
	<header>
		<!-- Header desktop -->
		<div id="wrap_header" >
			<!-- Logo -->		
			<div class="logo col_header">
				<a href="/"><img alt="logo-deli" src="images/icons/logo.png"></a>
			</div>
			<!-- Menu -->
			<div class="main_nav">
				<nav class="menu col_header">
					<ul class="main_menu">
						<li><a href="#">Home</a>
							
						</li>
						<li><a href="#">Menus</a>
							<ul class="sub_menu">
								<li><a href="#">Lunch </a></li>
								<li><a href="#">Dinner </a></li>
								<li><a href="#">Dessert </a></li>
								<li><a href="#">Weekend Menu</a></li>
							</ul>
						</li>
						<li><a href="#" class="have_sub_menu">Reservation</a>
							<ul class="sub_menu">
								<li><a href="#">Reserve Table</a></li>
								<li><a href="#">Order Meal</a></li>
							</ul>
						</li>
						
						<li><a href="#">Features</a>
							<ul class="sub_menu">
								<li><a href="#">Marini Page</a></li>
								<li><a href="#">Shopping Cart</a></li>
								<li><a href="#">Check Out</a></li>
							</ul>
						</li>
						<li><a href="#">About us</a></li>
						
						<li><a target="blank" href="https://makini-makini.herokuapp.com">Contact</a></li>
					</ul>
				</nav>
			</div>

			<!-- Socials -->
			<div class="icon-header col_header">
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100015426282911&lst=100015426282911%3A100015426282911%3A1588095490&sk=about"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a target="_blank" href="https://twitter.com/Makini_Makini"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a target="_blank" href="https://www.tripadvisor.com/"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
				<a target="_blank" href="https://github.com/MakiniMakini"><i class="fa fa-github" aria-hidden="true"></i></a>
				<a target="_blank" href="https://www.instagram.com/makini_makini/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>

		<!-- Header Mobile -->
		<div id="wrap_header_mobile">
		
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img alt="logo-deli" src="images/icons/logo-mobile.png"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu py-2">
				<button class="btn-show-menu-mobile hamburger hamburger--squeeze" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>	
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li>
						<a href="/">Home</a>
						{{! <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i> }}
						<ul class="sub-menu">
							{{! <li><a href="index.html">Homepage</a></li>
							<li><a href="home-boxed.html">Homepage Boxed</a></li>
							<li><a href="home-outgrid.html">Homepage Outgrid</a></li>
							<li><a href="home-showcase.html">Homepage Showcase</a></li>
							<li><a href="home-vertical-menu.html">Home Vertical Menu</a></li>
							<li><a href="home-onepage.html">Homepage Onepage</a></li> }}
						</ul>
					</li>
					<li>
						<a href="#">Menus</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="#">Lunch</a></li>
							<li><a href="#">Dinner</a></li>
							<li><a href="#">Desert</a></li>
							<li><a href="#">Weeekend Menu</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Reservation</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="#">Reserve Table</a></li>
							<li><a href="#">Order Meal</a></li>
						</ul>
					</li>
					
					<li>
						<a href="#">Features</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="#">Marini Page</a></li>
							<li><a href="#">Shopping Cart</a></li>
							<li><a href="#">Check Out</a></li>
						</ul>
					</li>
					<li>
						<a href="#">About us</a>
					</li>
					{{! <li>
						<a href="blog-list-with-sidebar-01.html">Blog</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="blog-list-with-sidebar-01.html">Blog With Sidebar V1</a></li>
							<li><a href="blog-list-with-sidebar-02.html">Blog With Sidebar V2</a></li>
							<li><a href="blog-mansory.html">Blog Mansory</a></li>
							<li><a href="blog-detail.html">Blog Detail</a></li>
						</ul>
					</li> }}
					<li>
						<a href="https://makini-makini.herokuapp.com">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>