<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
</head>
<body  class="animsition">
{{>header}}

	<section id="slider-deli">
		<!-- Slider -->
		<div class="rev_slider_wrapper fullscreen-container" >
			<div id="rev_slider_1" class="rev_slide fullscreenbanner" style="display: none;">
				<ul>
					<!-- Slide 1 -->
					<li data-transition="fade" data-delay="51000">
						<img src="images/slide-01.jpeg" alt="Seasonal Flavours" class="rev-slidebg"
						data-bgposition="center center"
						data-bgfit="cover" 
         				data-bgrepeat="no-repeat">
				         <div class="rs-background-video-layer" 
							         data-ytid="pMN5D5FWCxI" 
							         data-volume="mute" 
							         data-forcerewind="on" 
							         data-nextslideatend="true" 
							         data-videoloop="loopandnoslidestop" 
							         data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&wmode=opaque&showinfo=0&rel=0&
							         origin=https://base-restaurant-w4gmj1.turbo360-vertex.com/" 
							         data-videorate="1" 
							         data-videowidth="100%" 
							         data-videoheight="100%" 
							         data-videocontrols="none" 
							         data-videostartat="00:30" 
							         data-videoendat="01:21"
							         data-forcecover="1" 
							         data-aspectratio="16:9" 
							         data-autoplay="true" 
							         data-autoplayonlyfirsttime="false"
						></div>
					
						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":500,"speed":1800,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="middle" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Welcome to Marini</h3>
						
						<div id="btn-slide-1" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','110','110']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="/" class="btn2">VIEW MENU</a>
								<a href="/" class="btn2">BOOK A TABLE</a>
						</div>
					</li>

					<!-- Slide 2 -->
					<li data-transition="fade">
						<img src="images/slide-02.jpeg" alt="Fresh Ingredients" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme  caption-1" 
						data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['-80','-80','-140','-140']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Fresh Ingredients</h3>

					    <div  class="tp-caption tp-resizeme btn-slide caption-2"
						data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['15','15','15','5']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">Fresh. Delicious. Healthy.</div>
						
						<div id="btn-slide-2" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":3100,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['110','110','140','140']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="/" class="btn2">VIEW MENU</a>
								<a href="/" class="btn2">BOOK A TABLE</a>
						</div>
					</li>

					<!-- Slide 3 -->
					<li data-transition="fade">
						<img src="images/slide-03.jpeg" alt="Deli Restaurant" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1300,"frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']"
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Seasonal Flavours</h3>
						
						<div id="btn-slide-3" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":2300,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','110','110']"
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="/" class="btn2">VIEW MENU</a>
								<a href="/" class="btn2">BOOK A TABLE</a>
						</div>
					</li>
				</ul>				
			</div>
		</div>
		<!-- End Slider -->
	</section>

	<!-- Our Menu -->
	<section class="our-menu" >
		<div class="container">
			<!-- title our menu -->
			<div class="wrap-title-our-menu row">
				<div class="col-12 title-our-menu">
					<h6>try &amp; discover</h6>
					<h2>Our Menus</h2>
				</div>
			</div>

			<!-- food menu -->
			<div class="row wrap-food-menu">
				<div id="food-menu">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#lunch" role="tab" aria-controls="lunch" aria-expanded="true">Lunch</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-dinner" data-toggle="tab" href="#dinner" role="tab" aria-controls="dinner">Dinner</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-dessert" data-toggle="tab" href="#dessert" role="tab" aria-controls="dessert">Dessert</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-private-dinner" data-toggle="tab" href="#private-dinner" role="tab" aria-controls="private-dinner">Weekend </a>
						</li>
					</ul>
				</div>
			</div>

			<!-- list food -->
			<div class="tab-content" id="myTabContent">
				<!-- Lunch -->			
				<div class="tab-pane fade show active" id="lunch" role="tabpanel" aria-labelledby="home-tab">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.2s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.2s">
										<a href="#"><img alt="food" src="images/img-our-menu-01.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Ugali Samaki</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Kitu Tamu Sana 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;20.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.2s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.2s">
										<a href="#"><img alt="food" src="images/img-our-menu-05.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Kachumbari</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Pilipili fiti sana
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.4s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.4s">
										<a href="#"><img alt="food" src="images/img-our-menu-02.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Pilau</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													From the coast of Swahili
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>	
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.4s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.4s">
										<a href="#"><img alt="food" src="images/img-our-menu-06.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Birihani</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Wali 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.6s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.6s">
										<a href="#"><img alt="food" src="images/img-our-menu-03.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Samaki</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													From L.Victoria
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>	
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.6s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.6s">
										<a href="#"><img alt="food" src="images/img-our-menu-07.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Livorno style caccuchino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.8s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.8s">
										<a href="#"><img alt="food" src="images/img-our-menu-04.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Nyama Choma</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.8s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.8s">
										<a href="#"><img alt="food" src="images/img-our-menu-08.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Chips Funga</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Chips Masala
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Dinner -->
				<div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="tab-dinner">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-03.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Chocolate budino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-07.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Livorno style caccuchino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-04.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Charred octopus</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-08.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Baulletti</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-01.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Pine nut sbrisalona</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut  
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;20.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-05.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Potato gnocchi</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-02.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Lobster caponata</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-06.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Pork ribollita</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Dessert -->
				<div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="tab-dessert">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-02.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Lobster caponata</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-06.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Pork ribollita</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-03.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Chocolate budino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-07.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Livorno style caccuchino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-01.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Pine nut sbrisalona</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut  
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;20.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-05.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Potato gnocchi</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-04.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Charred octopus</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-08.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Baulletti</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Private Dinner -->
				<div class="tab-pane fade" id="private-dinner" role="tabpanel" aria-labelledby="tab-private-dinner">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-04.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Charred octopus</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-08.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Baulletti</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-01.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Pine nut sbrisalona</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut  
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;20.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-05.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#l">Potato gnocchi</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-02.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Lobster caponata</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-06.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Pork ribollita</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-03.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Chocolate budino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Masai Food
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="#"><img alt="food" src="images/img-our-menu-07.jpg"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="#">Keki Tamu</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Chakula kitamu sana
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Banner -->
	<div class="parallax-banner" style="background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80); background-attachment: fixed;">
		<div class="content-banner">
			<div class="text-banner wow zoomIn">
				<h3>Feeling at Home</h3>
			</div>
			<div class="symbol-banner wow zoomIn" data-wow-delay="0.5s">
				<img alt="symbol" src="images/icons/symbol-banner.png">
				<div class="line-symbol-banner wow fadeInLeftBig" id="short-line-left" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInLeftBig" id="long-line-left" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInRightBig" id="short-line-right" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInRightBig" id="long-line-right" data-wow-delay="0.5s"></div>
			</div>
		</div>
	</div>
	
	<!-- Event -->
	<section id="event">
		<div class="container">
			<!-- title event -->
			<div class="wrap-title-event row">
				<div id="title-event" class="col-12">
					<h6>Discover Our</h6>
					<h2>Recent News</h2>
				</div>
					<div class=" content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
						<div class="img-event">
							<a href="#"><img alt="picture-event" src="images/img-event-01.jpeg "></a>
						</div>
						<h3><a class="hover-link-color" href="#">Marini Summer Auscoutics</a></h3>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad						</p>
						<span class="date-event"><i class="fa fa-calendar" aria-hidden="true"></i> 21 June, 2020</span>
						<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00AM - 11:00PM</span>
					</div>

					<div class="  content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
						<div class="img-event ">
							<a href="#"><img alt="picture-event" src="images/img-event-02.jpeg"></a>
						</div>
						<h3><a class="hover-link-color" href="#">The Live Jazz Music Night</a></h3>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						</p>
						<span class="date-event"><i class="fa fa-calendar" aria-hidden="true"></i> 22 Dec, 2020</span>
						<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 6:00PM - 11:00PM</span>
					</div>

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
						<div class="img-event">
							<a href="#"><img alt="picture-event" src="images/img-event-03.jpeg"></a>
						</div>
						<h3><a class="hover-link-color" href="#">Mother’s Day Celebrating at Marini</a></h3>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad						</p>
						<span class="date-event"><i class="fa fa-calendar" aria-hidden="true"></i> 23 October, 2020</span>
						<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:00AM - 9:00PM</span>
					</div>
			</div>			
		</div>
	</section>
	
	<!-- Reservation -->
	<div class="parallax-banner-2 py-5" style="background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-attachment: fixed;>
		<div class="content-reservation">
			<div class="text-reservation wow fadeInUp" data-wow-delay="0.2">
				<h6 style="color: white">Reservation</h6>
				<h3>Book a table</h3>
			</div>
			<div class="container pb-5" >
				<form>
					<div class="input-reservation row wow flipInX" data-wow-delay="0.7s">
						<div class="wrap-input-find col-12 col-sm-12 col-md-10">
							<div class="input-find row">
								<div class="col-10 col-sm-8 col-md-4">
									<select class="chose-people" name="chose-people">
										<option>Table for One</option>
										<option>2 people</option>
										<option>3 people</option>
										<option>4 people</option>
										<option>5 people</option>
										<option>10 people</option>
									</select>
								</div>

								<div class="col-10 col-sm-8 col-md-4 chose-calendar">
									<input class="my-calendar" type="text" name="calender">
								</div>

								<div class="col-10 col-sm-8 col-md-4">
									<select class="chose-time" name="chose-time">
										<option>7:00 PM</option>
										<option>8:00 PM</option>
										<option>9:00 PM</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-5 col-sm-3 col-md-2">
							<button class="btn-find-table">FIND A TABLE</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{{>footer}}
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
    {{>imports}}	

</body>
</html>